@font-face {
    font-family: 'JetbrainsMN Font Reg';
    src: url(/calculator/JetBrainsMonoNerdFont-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetbrainsMN Font Reg';
}

body {
    background-image: url(/calculator/Calculator_Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calculator-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 340px;
    margin: 50px auto;
    gap: 7px;
    background-color: rgba(0, 140, 255, 0.151);
    backdrop-filter: blur(10px);
    border: 1px solid ;
    border-radius: 10px;
    padding: 20px;
}

.calculator input {
    grid-column: span 4;
    height: 60px;
    font-size: 1.5em;
    text-align: right;
    padding: 5px;
}

.calculator button {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    height: 60px;
    font-size: 1.1em;
    transition: transform 0.1s ease;
    will-change: transform;
}

.calculator button:active{
    transform: scale(0.95);
}